#contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contactTitle {
            width: 100%;
            margin: 25px 0;
            h2 {
                text-align: left;
                margin-left: 100px;
                font-weight: 600;
                font-size: 7rem;
            }
        }
        .contactContent {
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .img {
                width: 48%;
                margin-right: 15px;
                object-fit: cover;
                img {
                    width: 100%;
                }
            }
            form {
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;
                margin-left: 15px;
                .contactInputs {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    input {
                        padding: 10px 10px;
                        margin: 25px 20px;
                        border: none;
                        border-bottom: 1px solid $linkBackground;
                        &::placeholder {
                            color: black;
                        }
                    }
                    textarea {
                        border: 1px solid $linkBackground;
                        margin-top: 10px;
                        width: 81%;
                        border-radius: 12px;
                        padding: 12px;
                        &::placeholder {
                            color: black;
                        }
                    }
                    input[name=contactName] {
                        margin-top: 0;
                    }
                    input[name=contactEmail] {
                        margin-top: 0;
                    }
                }
                .contactSubmit {
                    margin-top: 15px;
                    width: 81%;
                    input[type=submit] {
                        background: $linkBackground;
                        width: 100%;
                        border-radius: 12px;
                        color: white;
                        padding: 15px 20px;
                        border: 1px solid $linkBackground;
                        transition: all 300ms linear;
                        &:hover {
                            background: white;
                            color: $linkBackground;
                        }
                    }
                }
            }
        }
    }
}
// contact section media queries
@media (max-width: $lg) {
    #contact {
        .wrapper .contactContent {
            flex-direction: column;
            .img {
                width: 55%;
            }
            form {
                width: 70%;
                margin-left: 0;
                .contactInputs {
                    textarea {
                        width: 88%;
                    }
                }
            }
    
        }  
    } 
}
@media (max-width: $xl) {
    #contact {
        .wrapper {
            width: 90%;
        }
    }
}
