.projectSort {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    button {
        border: 2px solid $linkBackground;
        border-radius: 25px;
        margin: 10px 15px;
        padding: 15px 20px;
        transition: all 0.3s linear;
        background: white;
        outline: none;
        cursor: pointer;
        &:hover {
            background: $linkBackground;
            color: white;
        }
    }
    .litButton {
        background: $linkBackground;
        color: white;
    }
}
// media queries
@media (max-width: $sm) {
    .projectSort button {  
            padding: 8px 13px;
    }
}
@media (min-width: $sm + 1px) and (max-width: $md) {
    .projectSort {
        button {
            padding: 10px 15px;
        }
    }
}
