#mainProjects {
    // height: 600vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .projectGrid {
        height: 100%;
        width: 100%;
        .projectItem {
            position: relative;
            margin: 0;
            background: $greyBackground;
            .hoverProjectSplash {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255,255,255, 0.7);
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s linear;
                h3 {
                    margin: 15px;
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
            .hoverProjectContainer {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 6.5%;
                left: 6.5%;
                background: rgba(0,0,0,0);
                z-index: 20;
                &:hover + .hoverProjectSplash {
                    opacity: 1;
                }
            }
            .projectLinker {
                position: absolute;
                bottom: 5px;
                right: 15px;
                z-index: 11;
                transition: color 0.3s ease-in;
                color: white;
                &:hover {
                    color: darken($lightText, 30%);
                }
                i {
                    font-size: 3rem;
                }
                svg {
                    height: 35px;
                    width: 35px;
                    fill: white;
                    transition: fill 0.3s ease-in;
                    &:hover {
                        fill: darken($lightText, 30%);
                    }
                }
            }
            .projectHero {
                width: 100%;
                height: 100%;
                position: relative;
                .heroItem {
                    width: 100%;
                    height: 100%;
                    .text {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 25%;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // z-index: 9999;
                        color: white;
                        h3 {
                            font-size: 2rem;
                        }
                    }
                    .img {
                        width: 100%;
                        height: 100%;
                        img, video {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .slick-track {
                    height: 100%;
                }
                .slick-list {
                    height: 100% !important;
                }
                .slick-dots {
                    bottom: 10px;
                    left: 0;
                    li {
                        button {
                            &:before {
                                color: white;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .slick-next {
                    bottom: 0;
                    right: 30px;
                    z-index: 999999;
                }
                .slick-prev {
                    bottom: 0;
                    left: 10px;
                    z-index: 999999;
                }
                .slick-arrow {
                    &:before {
                        font-size: 4rem;
                        color: white;
                    }
                }
            }
        }
        .gridSizer {
            width: 1%;
        }
        .normProj {
            width: 30%;
            height: 500px;
        }
        .tallProj {
            width: 45%;
            height: 1000px;
        }
        .wideProj {
            width: 40%;
            height: 500px
        }
        .oddProj {
            width: 40%;
            height: 500px;
        }
        #projectBumperDesign, #projectThingCam, #projectLightArm, #projectCarMount, #projectBASFiltrTwo, #projectCulture, #projectDashboard , #projectUtahDrone, #projectFEA, #projectAutomation, #projectSelfieStick {
            width: 50%;
        } 
        #projectDashboard {
            background: white;
            .projectHero {
                .slick-dots {
                    li {
                        button {
                            &:before {
                                color: $medText;
                            }
                        }
                    }
                }
                .heroItem {
                    .img {
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            .slick-arrow {
                &:before {
                    font-size: 4rem;
                    color: $medText;
                }
            }
            .projectLinker {
                color: $medText;
                &:hover {
                    color: darken($medText, 30%);
                }
            }
        }
        #projectUtahDrone {
            video {
                width: 100%;
            }
        }
    }
}
@media (max-width: $sm) {
    #mainProjects {
        .projectGrid {
            .projectItem {
                .hoverProjectContainer {
                    right: 11% !important;
                    left: 11% !important;
                }
                .projectLinker {
                    i {
                        font-size: 2rem;
                    }
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
                .projectHero {
                    .slick-arrow {
                        &:before {
                            font-size: 2.5rem !important;
                            color: white;
                        }
                    }
                    .slick-dots {
                        bottom: 2px;
                        li {
                            button {
                                &:before {
                                    color: white;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                    .slick-next {
                        right: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: $md) {
    #mainProjects {
        height: 625vh !important;
        .projectGrid {
            .projectItem {
                .hoverProjectContainer {
                    right: 8%;
                    left: 8%;
                }
            }
        }
    }
}
@media (max-width: $lg) {
}
@media (max-width: $xl) {
    #mainProjects {
        height: 850vh;
    }
}