#mainProjects {
    height: 475vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .projectSort {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 20px;
            li {
                border: 2px solid $linkBackground;
                border-radius: 25px;
                margin: 10px 15px;
                transition: background 0.3s linear;
                a {
                    display: inline-block;
                    text-decoration: none;
                    padding: 15px 20px;
                    color: $greyText;
                    transition: color 0.3s linear;
                    &:hover {
                        color: white;
                    }
                }
                &:hover {
                    background: $linkBackground;
                }
            }
        }
    }
    .projectGrid {
        height: 100%;
        max-height: 100%;
        width: 100%;
        display: grid;
        min-height: 0;
        min-width: 0;
        // grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-template-rows: repeat(25, minmax(0, 1fr));
        grid-auto-flow: dense;
        .projectItem {
            justify-self: center;
            align-self: center;
            height: 100%;
            width: 100%;
            position: relative;
            margin: 0;
            background: $greyBackground;
            .hoverProjectSplash {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255,255,255, 0.7);
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s linear;
                h3 {
                    margin: 15px;
                    font-size: 2.5rem;
                    font-weight: 500;
                }
            }
            .hoverProjectContainer {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 6.5%;
                left: 6.5%;
                background: rgba(0,0,0,0);
                z-index: 20;
                &:hover + .hoverProjectSplash {
                    opacity: 1;
                }
            }
            .projectLinker {
                position: absolute;
                bottom: 5px;
                right: 15px;
                z-index: 11;
                transition: color 0.3s ease-in;
                color: white;
                &:hover {
                    color: darken($lightText, 30%);
                }
                i {
                    font-size: 3rem;
                }
                svg {
                    height: 35px;
                    width: 35px;
                    fill: white;
                    transition: fill 0.3s ease-in;
                    &:hover {
                        fill: darken($lightText, 30%);
                    }
                }
            }
            .projectHero {
                width: 100%;
                height: 100%;
                .heroItem {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .text {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 25%;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // z-index: 9999;
                        color: white;
                        h3 {
                            font-size: 2rem;
                        }
                    }
                    .img {
                        width: 100%;
                        height: 100%;
                        img, video {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .slick-track {
                    height: 100%;
                }
                .slick-list {
                    height: 100% !important;
                }
                .slick-dots {
                    bottom: 10px;
                    left: 0;
                    li {
                        button {
                            &:before {
                                color: white;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .slick-next {
                    bottom: 0;
                    right: 35px;
                    z-index: 999999;
                }
                .slick-prev {
                    bottom: 0;
                    left: 10px;
                    z-index: 999999;
                }
                .slick-arrow {
                    &:before {
                        font-size: 4rem;
                        color: white;
                    }
                }
            }
        }
        #projectThingCam {
            grid-column: span 3 ;
            grid-row: span 4;
        }
        #projectMakerspace {
            height: 100%;
            width: 100%;
            grid-column: span 3;
            grid-row: span 8;
            background: rgba(199, 199, 199,1.0);
            .projectHero {
                .heroItem {
                    .img {
                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
            .projectLinker {
                svg {
                    background-size: 50px 50px;
                    fill: white;
                }
            }
        }
        #projectCarMount {
            grid-column: span 3 ;
            grid-row: span 4;
        }
        #projectTurkeyCat, #projectTurkeyDrone, #projectBogger {
            grid-column: span 2;
            grid-row: span 3;
        }
        #projectHeadphoneCable {
            grid-column: span 3;
            grid-row: span 4;
        }
        #projectCulture {
            grid-column: span 3;
            grid-row: span 4;
            height: 100%;
            width: 100%;
            .hoverProjectContainer {
                right: 8.5%;
                left: 8.5%;
            }
            .hoverProjectSplash {
                h3 {
                    margin-top: 80px;
                }
            }
            .projectHero {
                iframe {
                    .navigate-right {
                        z-index: 999999;
                        color: pink;
                        background: pink;
                    }
                }
            }

        }
        #projectDashboard {
            grid-column: span 3;
            grid-row: span 3;
            background: white;
            .projectHero {
                .slick-dots {
                    li {
                        button {
                            &:before {
                                color: $medText;
                            }
                        }
                    }
                }
                .heroItem {
                    .img {
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            .slick-arrow {
                &:before {
                    font-size: 4rem;
                    color: $medText;
                }
            }
            .projectLinker {
                color: $medText;
                &:hover {
                    color: darken($medText, 30%);
                }
            }
        }
        #projectLightArm {
            grid-column: span 3;
            grid-row: span 7;
            background: navajowhite;
        }
        #projectUtahDrone {
            grid-column: span 2;
            grid-row: span 3;
            video {
                width: 100%;
            }
        }
        #projectMarine {
            grid-column: span 2;
            grid-row: span 3;
        }
        #projectGlacierDrone {
            grid-column: span 2;
            grid-row: span 3;
        }
        #projectHomeServer {
            grid-column: span 3;
            grid-row: span 4;
        }
    }
}
@media (max-width: $lg) {
    #mainProjects {
        height: 700vh;
        .projectGrid {
            .mechWide {

            }
            .photoInsta {
                // grid-column: span 3 !important;
            }
            #projectBogger .projectHero .heroItem .img img {
                object-fit: contain;
            }
        }
    }
}
@media (max-width: $xl) {
    #mainProjects {
        height: 850vh;
        .projectGrid {
            .mechWide {

            }
            .photoInsta {
                grid-column: span 3 !important;
            }
        }
    }
}