#thisIsMe {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // background: pink;
    .meListContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 93vh;
        padding: 7vh 0;
        color: white;
        &:nth-child(n+1) {
            padding-bottom: 0;
        }
        &:nth-child(2) {
            .backgroundContainer {
                .colorDot {
                    color: palegoldenrod;
                }
                .theList {
                    div {
                        .icon {
                            border: 4px solid palegoldenrod;
                            i {
                                color: palegoldenrod;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            padding-bottom: 10vh;
            height: 100vh;
            .backgroundContainer {
                .colorDot {
                    color: palevioletred;
                }
                .theList {
                    div {
                        .icon {
                            border: 4px solid palevioletred;
                            i {
                                color: palevioletred;
                            }
                        }
                    }
                }
            }
        }
        .backgroundContainer {
            .colorDot {
                color: steelblue;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .title {
                width: 100%;
                text-align: center;
                margin-bottom: 50px;
                h2 {
                    margin-bottom: 10px;
                    font-weight: 600;
                }
            }
            .theList {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                div {
                    margin: 0;
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 15px 0;
                    .icon {
                        padding: 28px 55px;
                        border: 4px solid steelblue;
                        border-radius: 60px;
                        margin: 0;
                        i {
                            font-size: 5rem;
                            color: steelblue;
                        }
                    }
                    h3 {
                        font-weight: 600;
                        margin-top: 15px;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .whatIStandFor .backgroundContainer {
        background: url(../../assets/bg-office-01.jpg) no-repeat center;
        background-size: cover;
    }
    .myProfInterests .backgroundContainer {
        background: url(../../assets/bg-office-02.jpg) no-repeat center;
        background-size: cover;
    }
    .myPerInterests .backgroundContainer {
        background: url(../../assets/bg-services-01.jpg) no-repeat center;
        background-size: cover;
    }
}
// About me media queries
@media (min-width: $sm) {

}
@media (max-width: $md) {
    #thisIsMe {
        #me .backgroundContainer .theList div {
            margin: 15px 0;
        }
        .meListContainer .backgroundContainer {
            .theList {
                div {
                    width: 33%;
                    margin: 7px 0;
                    .icon {
                        padding: 21px 35px !important;
                        border-radius: 50px !important;
                        i {
                            font-size: 2.8rem !important;
                        }
                    }
                }
            }
        }
    } 
}
@media (max-width: $lg) {
    #thisIsMe .meListContainer .backgroundContainer {
        .theList div .icon {
            padding: 23px 40px;
            border-radius: 50px;
            i {
                font-size: 3.5rem;
            }
        }
    }

}
@media (min-width: $lg) {

}
@media (max-width: $xl) {
}