html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: \" \";
  clear: both;
  height: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
}
html h1, html h2, html h3, html h4, html ul {
  margin: 0;
  padding: 0;
}
html h1 {
  font-size: 6rem;
}
html h2 {
  font-size: 4.2rem;
  font-weight: 400;
}
html h3 {
  font-size: 2rem;
  font-weight: 400;
}
html h4 {
  font-size: 1.7rem;
  font-weight: 400;
}
html p {
  font-size: 1.8rem;
}
html a {
  font-size: 1.5rem;
  text-decoration: none;
}
html button {
  font-size: 1.5rem;
}
html i {
  font-size: 2.5rem;
}
html input, html label, html textarea {
  font-size: 1.8rem;
}
html ul {
  padding: 0;
  margin: 0;
}
html .hideElement {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

main {
  display: none;
}

@media (max-width: 576px) {
  html h1 {
    font-size: 3.2rem;
  }
  html h2 {
    font-size: 2.6rem;
  }
  html h3 {
    font-size: 1.5rem;
  }
  html h4 {
    font-size: 1.4rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.2rem;
  }
  html i {
    font-size: 1.2rem;
  }
  html input, html label, html textarea, html button {
    font-size: 1.2rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html h1 {
    font-size: 3.2rem;
  }
  html h2 {
    font-size: 2.6rem;
  }
  html h3 {
    font-size: 1.5rem;
  }
  html h4 {
    font-size: 1.4rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.2rem;
  }
  html i {
    font-size: 1.2rem;
  }
  html input, html label, html textarea, html button {
    font-size: 1.2rem;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  html h1 {
    font-size: 4.4rem;
  }
  html h2 {
    font-size: 3rem;
  }
  html h3 {
    font-size: 1.6rem;
  }
  html h4 {
    font-size: 1.5rem;
  }
  html p {
    font-size: 1.2rem;
  }
  html a {
    font-size: 1.4rem;
  }
  html i {
    font-size: 1.8rem;
  }
  html input, html label, html textarea {
    font-size: 1.8rem;
  }
}
@media (min-width: 1201px) {
  html h1 {
    font-size: 4.4rem;
  }
}
#splash {
  background: url(../../assets/x-home-main-bg-cornerstone.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
#splash .headerLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#splash .whoDidIt {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #b3b3b3;
}
#splash .whoDidIt p {
  font-size: 1.3rem;
}
#splash .headerMainText {
  z-index: 1;
}
#splash .mainLinks {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#splash .mainLinks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #706f6f;
  width: 100%;
  height: 100%;
  border-right: 1px solid #171717;
  text-shadow: 0 -1px 0 #292929;
  -webkit-box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
          box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#splash .mainLinks a:hover {
  color: #efefef;
}
#splash .mainLinks .deskList {
  list-style: none;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#splash .mainLinks .deskList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
  background: #272727;
}
#splash .mainLinks .mobileList {
  display: none;
  position: absolute;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}
#splash .mainLinks .mobileList li {
  list-style: none;
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#splash .mainLinks .mobileList li a {
  color: #706f6f;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  border-right: none;
  padding: 12px 5px;
  background: #272727;
  border-radius: 10px;
}
#splash .mainLinks .mobileList li a:hover {
  color: white;
  background: #414141;
}
#splash .mainLinks .mobileNav {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#splash .mainLinks .mobileNav li {
  width: 100%;
  height: 100%;
  list-style: none;
}
#splash .mainLinks .mobileNav li a {
  background: #343434;
  border-radius: 10px;
  padding: 10px;
}
#splash .socialLinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 45px;
  top: 40%;
}
#splash .socialLinks ul {
  list-style: none;
}
#splash .socialLinks ul li:nth-child(2) a {
  padding: 11px 14px 9px 14px;
}
#splash .socialLinks ul li {
  background: #272727;
  margin: 10px 0;
  border-radius: 10px;
}
#splash .socialLinks ul li a {
  display: block;
  color: white;
  padding: 13px 14px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
#splash .socialLinks ul li a:hover {
  color: gray;
}
#splash .socialLinks ul li a:hover svg {
  fill: gray;
}
#splash .socialLinks ul li a svg {
  height: 28px;
  width: 28px;
  fill: white;
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
#splash .headerBold {
  color: #706f6f;
  font-size: 8rem;
  font-weight: 900;
}
#splash h1 {
  width: 40%;
  font-weight: 700;
  margin: 35px 0;
  z-index: 10;
  color: white;
}
#splash h2 {
  z-index: 10;
  color: white;
  font-weight: 700;
}

@media (max-width: 576px) {
  #splash .mainLinks .mobileNav {
    bottom: 10px;
    height: 30px;
    width: 30px;
  }
  #splash .socialLinks {
    top: 37%;
  }
  #splash .socialLinks li a svg {
    height: 13px !important;
    width: 13px !important;
  }
}
@media (max-width: 768px) {
  #splash .headerBold {
    font-size: 3.8rem !important;
  }
  #splash h1 {
    font-size: 3.5rem;
    width: 60%;
  }
  #splash .whoDidIt p {
    font-size: 1rem !important;
  }
  #splash .socialLinks ul li:nth-child(2) a {
    padding: 9px 10px 6px 10px;
  }
  #splash .socialLinks ul li a {
    padding: 10px 5px;
  }
}
@media (max-width: 992px) {
  #splash .headerBold {
    font-size: 5.8rem;
  }
  #splash .socialLinks ul li a svg {
    height: 18px;
    width: 18px;
  }
  #splash .mainLinks {
    background: #272727;
  }
  #splash .mainLinks .deskList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #splash .mainLinks .deskList li {
    display: none;
  }
  #splash .mainLinks .mobileNav {
    display: block;
  }
  #splash .socialLinks {
    right: 20px;
  }
}
@media (min-width: 992px) {
  #splash .mainLinks {
    height: 50px !important;
  }
  #splash .mainLinks .mobileNav {
    display: none;
  }
  #splash .mainLinks .mobileList {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  #splash .headerBold {
    font-size: 5.8rem;
  }
}
#mainProjects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainProjects .projectGrid {
  height: 100%;
  width: 100%;
}
#mainProjects .projectGrid .projectItem {
  position: relative;
  margin: 0;
  background: #dddddd;
}
#mainProjects .projectGrid .projectItem .hoverProjectSplash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#mainProjects .projectGrid .projectItem .hoverProjectSplash h3 {
  margin: 15px;
  font-size: 2.5rem;
  font-weight: 500;
}
#mainProjects .projectGrid .projectItem .hoverProjectContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6.5%;
  left: 6.5%;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}
#mainProjects .projectGrid .projectItem .hoverProjectContainer:hover + .hoverProjectSplash {
  opacity: 1;
}
#mainProjects .projectGrid .projectItem .projectLinker {
  position: absolute;
  bottom: 5px;
  right: 15px;
  z-index: 11;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  color: white;
}
#mainProjects .projectGrid .projectItem .projectLinker:hover {
  color: #b3b3b3;
}
#mainProjects .projectGrid .projectItem .projectLinker i {
  font-size: 3rem;
}
#mainProjects .projectGrid .projectItem .projectLinker svg {
  height: 35px;
  width: 35px;
  fill: white;
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
#mainProjects .projectGrid .projectItem .projectLinker svg:hover {
  fill: #b3b3b3;
}
#mainProjects .projectGrid .projectItem .projectHero {
  width: 100%;
  height: 100%;
  position: relative;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem {
  width: 100%;
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .text h3 {
  font-size: 2rem;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .img {
  width: 100%;
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .img img, #mainProjects .projectGrid .projectItem .projectHero .heroItem .img video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-track {
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-list {
  height: 100% !important;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-dots {
  bottom: 10px;
  left: 0;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-dots li button:before {
  color: white;
  font-size: 1.2rem;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-next {
  bottom: 0;
  right: 30px;
  z-index: 999999;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-prev {
  bottom: 0;
  left: 10px;
  z-index: 999999;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-arrow:before {
  font-size: 4rem;
  color: white;
}
#mainProjects .projectGrid .gridSizer {
  width: 1%;
}
#mainProjects .projectGrid .normProj {
  width: 30%;
  height: 500px;
}
#mainProjects .projectGrid .tallProj {
  width: 45%;
  height: 1000px;
}
#mainProjects .projectGrid .wideProj {
  width: 40%;
  height: 500px;
}
#mainProjects .projectGrid #projectBumperDesign, #mainProjects .projectGrid #projectThingCam, #mainProjects .projectGrid #projectLightArm, #mainProjects .projectGrid #projectCarMount, #mainProjects .projectGrid #projectBASFiltrTwo, #mainProjects .projectGrid #projectCulture, #mainProjects .projectGrid #projectDashboard, #mainProjects .projectGrid #projectUtahDrone, #mainProjects .projectGrid #projectFEA, #mainProjects .projectGrid #projectAutomation, #mainProjects .projectGrid #projectSelfieStick {
  width: 50%;
}
#mainProjects .projectGrid #projectDashboard {
  background: white;
}
#mainProjects .projectGrid #projectDashboard .projectHero .slick-dots li button:before {
  color: #999999;
}
#mainProjects .projectGrid #projectDashboard .projectHero .heroItem .img img {
  -o-object-fit: contain;
     object-fit: contain;
}
#mainProjects .projectGrid #projectDashboard .slick-arrow:before {
  font-size: 4rem;
  color: #999999;
}
#mainProjects .projectGrid #projectDashboard .projectLinker {
  color: #999999;
}
#mainProjects .projectGrid #projectDashboard .projectLinker:hover {
  color: #4d4d4d;
}
#mainProjects .projectGrid #projectUtahDrone video {
  width: 100%;
}

@media (max-width: 576px) {
  body main #mainProjects .projectGrid .gridSizer {
    width: 100% !important;
  }
  body main #mainProjects .projectGrid .normProj {
    width: 100% !important;
    height: 300px;
  }
  body main #mainProjects .projectGrid .tallProj {
    width: 100% !important;
    height: 550px;
  }
  body main #mainProjects .projectGrid .wideProj {
    width: 100% !important;
    height: 300px;
  }
  body main #mainProjects .projectGrid #projectOAD, body main #mainProjects .projectGrid #projectDrivfiltr {
    height: 350px;
  }
  body main #mainProjects .projectGrid #projectBASFiltrTwo {
    height: 250px;
  }
  body main #mainProjects .projectGrid .projectItem .hoverProjectContainer {
    right: 11% !important;
    left: 11% !important;
  }
  body main #mainProjects .projectGrid .projectItem .projectLinker i {
    font-size: 2rem;
  }
  body main #mainProjects .projectGrid .projectItem .projectLinker svg {
    height: 20px;
    width: 20px;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-arrow:before {
    font-size: 2.5rem !important;
    color: white;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-dots {
    bottom: 2px;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-dots li button:before {
    color: white;
    font-size: 0.8rem;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-next {
    right: 15px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  body main #mainProjects .projectGrid .gridSizer {
    width: 50%;
  }
  body main #mainProjects .projectGrid .normProj {
    width: 50%;
    height: 300px;
  }
  body main #mainProjects .projectGrid .tallProj {
    width: 50%;
    height: 600px;
  }
  body main #mainProjects .projectGrid .wideProj {
    width: 50%;
    height: 300px;
  }
  body main #mainProjects .projectGrid .oddProj {
    width: 50%;
    height: 500px;
  }
  body main #mainProjects .projectGrid .projectItem .hoverProjectContainer {
    right: 8%;
    left: 8%;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero iframe #document html body div aside button .controls-arrow {
    font-size: 2rem;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-next {
    right: 20px;
  }
  body main #mainProjects .projectGrid .projectItem .projectHero .slick-arrow:before {
    font-size: 2.8rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  body main #mainProjects .projectGrid .normProj {
    height: 300px;
  }
  body main #mainProjects .projectGrid .tallProj {
    height: 600px;
  }
  body main #mainProjects .projectGrid .wideProj {
    height: 300px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #mainProjects .projectGrid gridSizer {
    width: 50%;
  }
  #mainProjects .projectGrid .wideProj {
    width: 50%;
    height: 350px;
  }
  #mainProjects .projectGrid .normProj {
    width: 50%;
    height: 350px;
  }
  #mainProjects .projectGrid .tallProj {
    height: 700px;
  }
}
@media (min-width: 1201px) {
  #mainProjects .projectGrid .normProj {
    width: 50%;
  }
  #mainProjects .projectGrid .tallProj {
    width: 50%;
  }
  #mainProjects .projectGrid .wideProj {
    width: 50%;
  }
  #mainProjects .projectGrid .oddProj {
    width: 33%;
  }
  #mainProjects .projectGrid #projectTurkeyCat, #mainProjects .projectGrid #projectTurkeyDrone, #mainProjects .projectGrid #projectBASTwo, #mainProjects .projectGrid #projectCarMount, #mainProjects .projectGrid #projectBaja, #mainProjects .projectGrid #projectBogger, #mainProjects .projectGrid #projectGlacierDrone, #mainProjects .projectGrid #projectHeatTreat, #mainProjects .projectGrid #projectMarine {
    width: 50%;
  }
  #mainProjects .projectGrid #projectHeadphoneCable, #mainProjects .projectGrid #projectPiHole {
    width: 60%;
  }
  #mainProjects .projectGrid #projectDrivfiltr, #mainProjects .projectGrid #projectOAD {
    width: 40%;
  }
  #mainProjects .projectGrid #projectSelfieStick {
    width: 100%;
  }
}
#thisIsMe {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#thisIsMe .meListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 93vh;
  padding: 7vh 0;
  color: white;
}
#thisIsMe .meListContainer:nth-child(n+1) {
  padding-bottom: 0;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .colorDot {
  color: palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .theList div .icon {
  border: 4px solid palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .theList div .icon i {
  color: palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(3) {
  padding-bottom: 7vh;
  height: 100vh;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .colorDot {
  color: palevioletred;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .theList div .icon {
  border: 4px solid palevioletred;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .theList div .icon i {
  color: palevioletred;
}
#thisIsMe .meListContainer .backgroundContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#thisIsMe .meListContainer .backgroundContainer .colorDot {
  color: steelblue;
}
#thisIsMe .meListContainer .backgroundContainer .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#thisIsMe .meListContainer .backgroundContainer .title h2 {
  margin-bottom: 10px;
  font-weight: 600;
}
#thisIsMe .meListContainer .backgroundContainer .theList {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#thisIsMe .meListContainer .backgroundContainer .theList div {
  margin: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}
#thisIsMe .meListContainer .backgroundContainer .theList div .icon {
  padding: 28px 55px;
  border: 4px solid steelblue;
  border-radius: 60px;
  margin: 0;
}
#thisIsMe .meListContainer .backgroundContainer .theList div .icon i {
  font-size: 5rem;
  color: steelblue;
}
#thisIsMe .meListContainer .backgroundContainer .theList div h3 {
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
#thisIsMe .meListContainer .backgroundContainer .theList div p {
  text-align: center;
}
#thisIsMe .whatIStandFor .backgroundContainer {
  background: url(../../assets/bg-office-01.jpg) no-repeat center;
  background-size: cover;
}
#thisIsMe .myProfInterests .backgroundContainer {
  background: url(../../assets/bg-office-02.jpg) no-repeat center;
  background-size: cover;
}
#thisIsMe .myPerInterests .backgroundContainer {
  background: url(../../assets/bg-services-01.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 576px) {
  #thisIsMe #me {
    height: 110vh;
  }
  #thisIsMe #profInterests {
    height: 140vh;
  }
  #thisIsMe #perInterests {
    height: 110vh;
  }
}
@media (max-width: 768px) {
  #thisIsMe #me .backgroundContainer .theList div {
    margin: 15px 0;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div {
    width: 33%;
    margin: 7px 0;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div .icon {
    padding: 21px 35px !important;
    border-radius: 50px !important;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div .icon i {
    font-size: 2.8rem !important;
  }
}
@media (max-width: 992px) {
  #thisIsMe .meListContainer .backgroundContainer .theList {
    width: 80%;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div h3, #thisIsMe .meListContainer .backgroundContainer .theList div p {
    width: 90%;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div .icon {
    padding: 23px 40px;
    border-radius: 50px;
  }
  #thisIsMe .meListContainer .backgroundContainer .theList div .icon i {
    font-size: 3.5rem;
  }
}
#contact {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper .contactTitle {
  width: 100%;
  margin: 25px 0;
}
#contact .wrapper .contactTitle h2 {
  text-align: left;
  margin-left: 100px;
  font-weight: 600;
  font-size: 7rem;
}
#contact .wrapper .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper .contactContent .img {
  width: 48%;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .wrapper .contactContent .img img {
  width: 100%;
}
#contact .wrapper .contactContent form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
}
#contact .wrapper .contactContent form .contactInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#contact .wrapper .contactContent form .contactInputs input {
  padding: 10px 10px;
  margin: 25px 20px;
  border: none;
  border-bottom: 1px solid #272727;
}
#contact .wrapper .contactContent form .contactInputs input::-webkit-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::-moz-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input:-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea {
  border: 1px solid #272727;
  margin-top: 10px;
  width: 81%;
  border-radius: 12px;
  padding: 12px;
}
#contact .wrapper .contactContent form .contactInputs textarea::-webkit-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::-moz-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea:-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input[name=contactName] {
  margin-top: 0;
}
#contact .wrapper .contactContent form .contactInputs input[name=contactEmail] {
  margin-top: 0;
}
#contact .wrapper .contactContent form .contactSubmit {
  margin-top: 15px;
  width: 81%;
}
#contact .wrapper .contactContent form .contactSubmit input[type=submit] {
  background: #272727;
  width: 100%;
  border-radius: 12px;
  color: white;
  padding: 15px 20px;
  border: 1px solid #272727;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
#contact .wrapper .contactContent form .contactSubmit input[type=submit]:hover {
  background: white;
  color: #272727;
}

@media (max-width: 576px) {
  #contact .wrapper .contactTitle h2 {
    margin-bottom: 15px !important;
  }
  #contact .wrapper .contactContent form input {
    padding: 10px 10px !important;
    margin: 10px 10px !important;
  }
  #contact .wrapper .contactContent form .contactSubmit input[type=submit] {
    margin: 0 !important;
  }
}
@media (max-width: 992px) {
  #contact .wrapper .contactTitle h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 1200px) {
  #contact .wrapper {
    width: 90%;
  }
  #contact .wrapper .contactTitle h2 {
    text-align: center;
    margin-left: 0;
    margin-bottom: 30px;
  }
  #contact .wrapper .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .wrapper .contactContent .img {
    width: 60%;
    margin-right: 0;
  }
  #contact .wrapper .contactContent form {
    margin-top: 25px;
    width: 60%;
    margin-left: 0;
  }
}
footer {
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  background: #272727;
}
footer .wrapper {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footerLinks ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footerLinks ul li a {
  display: inline-block;
  margin: 12px 7px;
  padding: 10px 13px;
  height: 40px;
  width: 40px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
footer .wrapper .footerLinks ul li a:hover .social1 {
  margin-top: -35px;
}
footer .wrapper .footerLinks ul li a:hover .social2 {
  margin-top: 0;
}
footer .wrapper .footerLinks ul li a .social1 {
  color: #272727;
  display: block;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: margin-top 150ms linear;
  -o-transition: margin-top 150ms linear;
  transition: margin-top 150ms linear;
}
footer .wrapper .footerLinks ul li a .social2 {
  color: #272727;
  display: block;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 35px;
  -webkit-transition: margin-top 150ms linear;
  -o-transition: margin-top 150ms linear;
  transition: margin-top 150ms linear;
}
footer .wrapper .footerLinks ul li .github {
  background: steelblue;
}
footer .wrapper .footerLinks ul li .thingiverse {
  background: palegoldenrod;
}
footer .wrapper .footerLinks ul li .linkedin {
  background: indianred;
}
footer .wrapper .footerLinks ul li .instagram {
  background: mediumaquamarine;
}

@media (max-width: 576px) {
  footer {
    height: 10vh;
  }
  footer .wrapper .footerLinks ul li a {
    height: 27px;
    width: 27px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  footer {
    height: 10vh;
  }
  footer .wrapper .footerLinks ul li a {
    height: 27px;
    width: 27px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  footer .wrapper .footerLinks ul li a {
    height: 35px;
    width: 35px;
  }
}
body {
  overflow: hidden;
}

#loader {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  overflow: hidden;
}
#loader .loaderBody {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  -webkit-animation: speeder 0.4s linear infinite;
          animation: speeder 0.4s linear infinite;
}
#loader .loaderBody > span {
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}
#loader .loaderBody span span {
  width: 30px;
  height: 1px;
  background: white;
  position: absolute;
  -webkit-animation: fazer1 0.2s linear infinite;
          animation: fazer1 0.2s linear infinite;
}
#loader .loaderBody .loaderBase span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid white;
  border-bottom: 6px solid transparent;
}
#loader .loaderBody .loaderBase span::before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  right: -110px;
  top: -16px;
}
#loader .loaderBody .loaderBase span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid white;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}
#loader .loaderBody .loaderBase .loaderFace {
  position: absolute;
  height: 12px;
  width: 20px;
  background: white;
  border-radius: 20px 20px 0 0;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}
#loader .loaderBody .loaderBase .loaderFace::after {
  content: "";
  height: 12px;
  width: 12px;
  background: white;
  right: 4px;
  top: 7px;
  position: absolute;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}
#loader h1 {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  left: 49.5%;
  top: 55%;
  margin-left: -20px;
  color: white;
}

.loaderBody > span > span:nth-child(2) {
  top: 3px;
  -webkit-animation: fazer2 0.4s linear infinite;
          animation: fazer2 0.4s linear infinite;
}

.loaderBody > span > span:nth-child(3) {
  top: 1px;
  -webkit-animation: fazer3 0.4s linear infinite;
          animation: fazer3 0.4s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loaderBody > span > span:nth-child(4) {
  top: 4px;
  -webkit-animation: fazer4 1s linear infinite;
          animation: fazer4 1s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}
@-webkit-keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}
@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}
@-webkit-keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}
@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}
@-webkit-keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}
@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}
@-webkit-keyframes speeder {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes speeder {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
.longFazers {
  position: absolute;
  width: 100%;
  height: 100%;
}
.longFazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: white;
}
.longFazers span:nth-child(1) {
  top: 20%;
  -webkit-animation: lf 0.6s linear infinite;
          animation: lf 0.6s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}
.longFazers span:nth-child(2) {
  top: 40%;
  -webkit-animation: lf2 0.8s linear infinite;
          animation: lf2 0.8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.longFazers span:nth-child(3) {
  top: 60%;
  -webkit-animation: lf3 0.6s linear infinite;
          animation: lf3 0.6s linear infinite;
}
.longFazers span:nth-child(4) {
  top: 80%;
  -webkit-animation: lf4 0.5s linear infinite;
          animation: lf4 0.5s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@-webkit-keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@-webkit-keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@-webkit-keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@media (max-width: 576px) {
  #loader .loaderBody {
    top: 48%;
    left: 45%;
  }
  #loader h1 {
    top: 53%;
    left: 43% !important;
    font-size: 2.2rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #loader h1 {
    left: 48.5%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  #loader .loaderBody {
    left: 48%;
  }
  #loader h1 {
    font-size: 2.5rem;
    left: 46.5%;
    top: 53%;
  }
}
.projectSort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}
.projectSort button {
  border: 2px solid #272727;
  border-radius: 25px;
  margin: 10px 15px;
  padding: 15px 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: white;
  outline: none;
  cursor: pointer;
}
.projectSort button:hover {
  background: #272727;
  color: white;
}
.projectSort .litButton {
  background: #272727;
  color: white;
}

@media (max-width: 576px) {
  .projectSort button {
    padding: 8px 13px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .projectSort button {
    padding: 10px 15px;
  }
}