html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: \" \";
  clear: both;
  height: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
}
html h1 {
  font-size: 6rem;
  margin: 0;
  padding: 0;
}
html h2 {
  font-size: 4.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html h4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
html p {
  font-size: 1.8rem;
}
html a {
  font-size: 1.5rem;
}
html i {
  font-size: 2.5rem;
}
html input, html label, html textarea {
  font-size: 1.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.main {
  width: 100%;
  height: 100vh;
}

#splash {
  background: url(../../assets/x-home-main-bg-cornerstone.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}
#splash .headerLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#splash .whoDidIt {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #b3b3b3;
}
#splash .whoDidIt p {
  font-size: 1.3rem;
}
#splash .mainLinks {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#splash .mainLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#splash .mainLinks ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 25%;
  background: #272727;
}
#splash .mainLinks ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #706f6f;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  border-right: 1px solid #171717;
  text-shadow: 0 -1px 0 #292929;
  -webkit-box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
          box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
#splash .mainLinks ul li a:hover {
  color: #efefef;
}
#splash .socialLinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 45px;
  top: 32%;
}
#splash .socialLinks ul {
  list-style: none;
}
#splash .socialLinks ul li {
  text-decoration: none;
  background: #272727;
  margin: 10px 0;
  border-radius: 10px;
}
#splash .socialLinks ul li a {
  display: block;
  color: white;
  padding: 15px 18px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
#splash .socialLinks ul li a:hover {
  color: gray;
}
#splash .socialLinks ul li a:hover svg {
  fill: gray;
}
#splash .socialLinks ul li svg {
  height: 28px;
  width: 28px;
  fill: white;
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
#splash .headerBold {
  color: #706f6f;
  font-size: 8rem;
  font-weight: 900;
}
#splash h1 {
  width: 40%;
  font-weight: 700;
  margin: 35px 0;
  z-index: 10;
  color: white;
}
#splash h2 {
  z-index: 10;
  color: white;
  font-weight: 700;
}

#mainProjects {
  height: 370vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainProjects .projectSort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainProjects .projectSort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px;
}
#mainProjects .projectSort ul li {
  border: 2px solid #272727;
  border-radius: 25px;
  margin: 0 15px;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
#mainProjects .projectSort ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  color: #706f6f;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#mainProjects .projectSort ul li a:hover {
  color: white;
}
#mainProjects .projectSort ul li:hover {
  background: #272727;
}
#mainProjects .projectGrid {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  min-height: 0;
  min-width: 0;
  -ms-grid-columns: (minmax(0, 1fr))[6];
  grid-template-columns: repeat(6, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[14];
  grid-template-rows: repeat(14, minmax(0, 1fr));
}
#mainProjects .projectGrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(31) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(32) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(33) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(34) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(35) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(43) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(44) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(45) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(46) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(47) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(48) {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(55) {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(56) {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(57) {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(58) {
  -ms-grid-row: 10;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(59) {
  -ms-grid-row: 10;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(60) {
  -ms-grid-row: 10;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(67) {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(68) {
  -ms-grid-row: 12;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(69) {
  -ms-grid-row: 12;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(70) {
  -ms-grid-row: 12;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(71) {
  -ms-grid-row: 12;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(72) {
  -ms-grid-row: 12;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(73) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(74) {
  -ms-grid-row: 13;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(75) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(76) {
  -ms-grid-row: 13;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(77) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(78) {
  -ms-grid-row: 13;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid > *:nth-child(79) {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
}
#mainProjects .projectGrid > *:nth-child(80) {
  -ms-grid-row: 14;
  -ms-grid-column: 2;
}
#mainProjects .projectGrid > *:nth-child(81) {
  -ms-grid-row: 14;
  -ms-grid-column: 3;
}
#mainProjects .projectGrid > *:nth-child(82) {
  -ms-grid-row: 14;
  -ms-grid-column: 4;
}
#mainProjects .projectGrid > *:nth-child(83) {
  -ms-grid-row: 14;
  -ms-grid-column: 5;
}
#mainProjects .projectGrid > *:nth-child(84) {
  -ms-grid-row: 14;
  -ms-grid-column: 6;
}
#mainProjects .projectGrid .projectItem {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}
#mainProjects .projectGrid .projectItem .hoverProjectSplash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#mainProjects .projectGrid .projectItem .hoverProjectSplash h3 {
  margin: 15px;
  font-size: 2.5rem;
  font-weight: 500;
}
#mainProjects .projectGrid .projectItem .hoverProjectContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6.5%;
  left: 6.5%;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}
#mainProjects .projectGrid .projectItem .hoverProjectContainer:hover + .hoverProjectSplash {
  opacity: 1;
}
#mainProjects .projectGrid .projectItem .projectLinker {
  position: absolute;
  bottom: 5px;
  right: 15px;
  z-index: 11;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  color: white;
}
#mainProjects .projectGrid .projectItem .projectLinker:hover {
  color: #b3b3b3;
}
#mainProjects .projectGrid .projectItem .projectLinker i {
  font-size: 3rem;
}
#mainProjects .projectGrid .projectItem .projectLinker svg {
  height: 35px;
  width: 35px;
  fill: white;
  -webkit-transition: fill 0.3s ease-in;
  -o-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}
#mainProjects .projectGrid .projectItem .projectLinker svg:hover {
  fill: #b3b3b3;
}
#mainProjects .projectGrid .projectItem .projectHero {
  width: 100%;
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem {
  width: 100%;
  height: 100%;
  position: relative;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .text h3 {
  font-size: 2rem;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .img {
  width: 100%;
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .heroItem .img img, #mainProjects .projectGrid .projectItem .projectHero .heroItem .img video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-track {
  height: 100%;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-list {
  height: 100% !important;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-dots {
  bottom: 10px;
  left: 0;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-dots li button:before {
  color: white;
  font-size: 1.2rem;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-next {
  bottom: 0;
  right: 35px;
  z-index: 999999;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-prev {
  bottom: 0;
  left: 10px;
  z-index: 999999;
}
#mainProjects .projectGrid .projectItem .projectHero .slick-arrow:before {
  font-size: 4rem;
  color: white;
}
#mainProjects .projectGrid #projectThingCam {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
#mainProjects .projectGrid #project2 {
  height: 100%;
  width: 100%;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}
#mainProjects .projectGrid #project2 .projectLinker svg {
  background-size: 50px 50px;
  fill: white;
}
#mainProjects .projectGrid #projectCarMount {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}
#mainProjects .projectGrid #projectTurkeyCat {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}
#mainProjects .projectGrid #projectTurkeyDrone {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}
#mainProjects .projectGrid #projectBogger {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}
#mainProjects .projectGrid #projectHeadphoneCable {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}
#mainProjects .projectGrid #projectCulture {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}
#mainProjects .projectGrid #projectCulture .hoverProjectContainer {
  right: 8.5%;
  left: 8.5%;
}
#mainProjects .projectGrid #projectCulture .hoverProjectSplash h3 {
  margin-top: 80px;
}
#mainProjects .projectGrid #projectCulture .projectHero iframe .navigate-right {
  z-index: 999999;
  color: pink;
  background: pink;
}
#mainProjects .projectGrid #projectDashboard {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11/13;
  background: palegoldenrod;
}
#mainProjects .projectGrid #projectLightArm {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 11;
  -ms-grid-row-span: 4;
  grid-row: 11/15;
  background: darkcyan;
}
#mainProjects .projectGrid #projectUtahDrone {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  background: darkorchid;
}
#mainProjects .projectGrid #projectUtahDrone video {
  width: 100%;
}
#mainProjects .projectGrid #projectMarine {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  background: dodgerblue;
}
#mainProjects .projectGrid #projectGlacierDrone {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  background: crimson;
}
#mainProjects .projectGrid #project14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 13;
  -ms-grid-row-span: 2;
  grid-row: 13/15;
  background: hotpink;
}

#thisIsMe {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#thisIsMe .meListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 93vh;
  padding: 7vh 0;
  color: white;
}
#thisIsMe .meListContainer:nth-child(n+1) {
  padding-bottom: 0;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .colorDot {
  color: palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .theList div .icon {
  border: 4px solid palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(2) .backgroundContainer .theList div .icon i {
  color: palegoldenrod;
}
#thisIsMe .meListContainer:nth-child(3) {
  padding-bottom: 10vh;
  height: 100vh;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .colorDot {
  color: palevioletred;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .theList div .icon {
  border: 4px solid palevioletred;
}
#thisIsMe .meListContainer:nth-child(3) .backgroundContainer .theList div .icon i {
  color: palevioletred;
}
#thisIsMe .meListContainer .backgroundContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#thisIsMe .meListContainer .backgroundContainer .colorDot {
  color: steelblue;
}
#thisIsMe .meListContainer .backgroundContainer .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#thisIsMe .meListContainer .backgroundContainer .title h2 {
  margin-bottom: 10px;
  font-weight: 600;
}
#thisIsMe .meListContainer .backgroundContainer .theList {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#thisIsMe .meListContainer .backgroundContainer .theList div {
  margin: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#thisIsMe .meListContainer .backgroundContainer .theList div .icon {
  padding: 28px 55px;
  border: 4px solid steelblue;
  border-radius: 60px;
  margin: 0;
}
#thisIsMe .meListContainer .backgroundContainer .theList div .icon i {
  font-size: 5rem;
  color: steelblue;
}
#thisIsMe .meListContainer .backgroundContainer .theList div h3 {
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
#thisIsMe .meListContainer .backgroundContainer .theList div p {
  text-align: center;
}
#thisIsMe .whatIStandFor .backgroundContainer {
  background: url(../../assets/bg-office-01.jpg) no-repeat center;
  background-size: cover;
}
#thisIsMe .myProfInterests .backgroundContainer {
  background: url(../../assets/bg-office-02.jpg) no-repeat center;
  background-size: cover;
}
#thisIsMe .myPerInterests .backgroundContainer {
  background: url(../../assets/bg-services-01.jpg) no-repeat center;
  background-size: cover;
}

#contact {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper .contactTitle {
  width: 100%;
  margin: 25px 0;
}
#contact .wrapper .contactTitle h2 {
  text-align: left;
  margin-left: 100px;
  font-weight: 600;
  font-size: 7rem;
}
#contact .wrapper .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .wrapper .contactContent .img {
  width: 48%;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .wrapper .contactContent .img img {
  width: 100%;
}
#contact .wrapper .contactContent form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
}
#contact .wrapper .contactContent form .contactInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#contact .wrapper .contactContent form .contactInputs input {
  padding: 10px 10px;
  margin: 25px 20px;
  border: none;
  border-bottom: 1px solid #272727;
}
#contact .wrapper .contactContent form .contactInputs input::-webkit-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::-moz-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input:-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input::placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea {
  border: 1px solid #272727;
  margin-top: 10px;
  width: 81%;
  border-radius: 12px;
  padding: 12px;
}
#contact .wrapper .contactContent form .contactInputs textarea::-webkit-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::-moz-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea:-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::-ms-input-placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs textarea::placeholder {
  color: black;
}
#contact .wrapper .contactContent form .contactInputs input[name=contactName] {
  margin-top: 0;
}
#contact .wrapper .contactContent form .contactInputs input[name=contactEmail] {
  margin-top: 0;
}
#contact .wrapper .contactContent form .contactSubmit {
  margin-top: 15px;
  width: 81%;
}
#contact .wrapper .contactContent form .contactSubmit input[type=submit] {
  background: #272727;
  width: 100%;
  border-radius: 12px;
  color: white;
  padding: 15px 20px;
  border: 1px solid #272727;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
#contact .wrapper .contactContent form .contactSubmit input[type=submit]:hover {
  background: white;
  color: #272727;
}

footer {
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  background: #272727;
}
footer .wrapper {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footerLinks ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footerLinks ul li a {
  display: inline-block;
  margin: 12px 7px;
  padding: 10px 13px;
  height: 40px;
  width: 40px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
footer .wrapper .footerLinks ul li a:hover .social1 {
  margin-top: -35px;
}
footer .wrapper .footerLinks ul li a:hover .social2 {
  margin-top: 0;
}
footer .wrapper .footerLinks ul li a .social1 {
  color: #272727;
  display: block;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: margin-top 150ms linear;
  -o-transition: margin-top 150ms linear;
  transition: margin-top 150ms linear;
}
footer .wrapper .footerLinks ul li a .social2 {
  color: #272727;
  display: block;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 35px;
  -webkit-transition: margin-top 150ms linear;
  -o-transition: margin-top 150ms linear;
  transition: margin-top 150ms linear;
}
footer .wrapper .footerLinks ul li .github {
  background: steelblue;
}
footer .wrapper .footerLinks ul li .thingiverse {
  background: palegoldenrod;
}
footer .wrapper .footerLinks ul li .linkedin {
  background: indianred;
}
footer .wrapper .footerLinks ul li .instagram {
  background: mediumaquamarine;
}